mypay.sources/mypay4-batch/fesp-batch/nodo-regionale-fesp-domain/src/main/xsd/informativa-psp-da-nodo-regionale-per-pa_1_0_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:tns="http://_URL_ENTE_/schemas/2012/Pagamenti/InformativaPSPDaNodoRegionalePerPA"
	targetNamespace="http://_URL_ENTE_/schemas/2012/Pagamenti/InformativaPSPDaNodoRegionalePerPA"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.10">
	<xs:annotation>
		<xs:documentation>Catalogo dati informativi</xs:documentation>
		<xs:documentation>24/10/2015 - allineamento a versione 1.7 dell'Allegato B</xs:documentation>
		<xs:documentation>27/1/2017 - adeguamento per versione 1.3 WISP</xs:documentation>
	</xs:annotation>

	<xs:element name="listaInformativePSP" type="tns:ctListaInformativePSP"/>
	<xs:element name="informativaPSP" type="tns:ctInformativaPSP"/>

	<xs:simpleType name="stText35">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>

	</xs:simpleType>
	<xs:simpleType name="stText70">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stZeroUno">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stZero">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stUno">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stText140">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	
	 <xs:simpleType name="stText511">
		<xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="511"/>
        </xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="stImporto">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stCodiceServizioNonDiPagamento">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stTipoVersamento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BBT"/> <!-- Bonifico Bancario di Tesoreria -->
			<xs:enumeration value="BP"/> <!-- Bollettino Postale -->
			<xs:enumeration value="AD"/> <!-- Addebito Diretto -->
			<xs:enumeration value="CP"/> <!-- Carta di Pagamento -->
			<xs:enumeration value="PO"/> <!-- Pagamento attivato presso PSP  -->
			<xs:enumeration value="OBEP"/> <!-- Online Banking Electronic Payment -->
			<xs:enumeration value="OTH"/> <!-- Other -->
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stCodiceLingua">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IT"/> <!-- Italiano -->
			<xs:enumeration value="EN"/> <!-- Inglese -->
			<xs:enumeration value="DE"/> <!-- Tedesco -->
			<xs:enumeration value="FR"/> <!-- Francese -->
			<xs:enumeration value="SL"/> <!-- Sloveno  -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stParoleChiave">
		<xs:restriction base="xs:string">
			<xs:enumeration value="American Express"/>
			<xs:enumeration value="App"/>
			<xs:enumeration value="Diners"/>
			<xs:enumeration value="Maestro"/>
			<xs:enumeration value="Mastercard"/>
			<xs:enumeration value="MyBank"/>
			<xs:enumeration value="PagoBancomat"/>
			<xs:enumeration value="PayPal"/>
			<xs:enumeration value="Visa"/>
			<xs:enumeration value="Visa Electron"/>
			<xs:enumeration value="V-Pay"/>
			<xs:enumeration value="Wallet"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stUrlInformazioni">
		<xs:restriction base="xs:anyURI">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stModelloPagamento">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/> <!-- Modello di pagamento immediato (con redirezione) -->
			<xs:enumeration value="1"/> <!-- Modello di pagamento immediato multibeneficiario -->
			<xs:enumeration value="2"/> <!-- Modello di pagamento differito -->
			<xs:enumeration value="4"/> <!-- Modello di pagamento attivato presso il psp -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stTipoCanaleServizio">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/> <!-- Presso i propri sportelli -->
			<xs:enumeration value="1"/> <!-- On-line (home banking o portale dedicato) -->
			<xs:enumeration value="2"/> <!-- Mobile banking (app) -->
			<xs:enumeration value="3"/> <!-- Phone banking -->
			<xs:enumeration value="4"/> <!-- ATM -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stPlateaErogazioneServizio">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/> <!-- Verso la propria clientela -->
			<xs:enumeration value="1"/> <!-- Verso tutti -->
			<xs:enumeration value="2"/> <!-- Verso tutti, solo con bollettino postale -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stDateTimeGiornoOra">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ctIdentificazioneServizio">
		<xs:sequence>
			<xs:element type="tns:stText35" name="nomeServizio"/>
			<xs:element type="xs:base64Binary" name="logoServizio"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctListaInformativePSP">
		<xs:sequence>
			<xs:element type="tns:ctInformativaPSP" name="informativaPSP" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaPSP">
		<xs:sequence>
			<xs:element type="tns:stText35" name="identificativoFlusso"/>
			<xs:element type="tns:stText35" name="identificativoPSP"/>
			<xs:element type="tns:stText70" name="ragioneSociale"/>
			<xs:element type="tns:ctInformativaMaster" name="informativaMaster"/>
			<xs:element type="tns:ctListaInformativaDetail" name="listaInformativaDetail"/>
			<xs:element type="tns:ctListaServiziNonDiPagamento" name="listaServiziNonDiPagamento" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaInformativaDetail">
		<xs:sequence>
			<xs:element type="tns:ctInformativaDetail" name="informativaDetail" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctListaServiziNonDiPagamento">
		<xs:sequence>
			<xs:element type="tns:ctServizioNonDiPagamento" name="servizioNonDiPagamento" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctListaInformazioniServizio">
		<xs:sequence>
			<xs:element type="tns:ctInformazioniServizio" name="informazioniServizio" maxOccurs="unbounded" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctListaParoleChiave">
		<xs:sequence>
			<xs:element type="tns:stParoleChiave" name="paroleChiave" maxOccurs="5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctListaFasceCostoServizio">
		<xs:sequence>
			<xs:element type="tns:ctFasciaCostoServizio" name="fasciaCostoServizio" maxOccurs="8" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaMaster">
		<xs:sequence>
			<xs:element type="tns:stDateTimeGiornoOra" name="dataPubblicazione"/>
			<xs:element type="tns:stDateTimeGiornoOra" name="dataInizioValidita"/>
			<xs:element type="tns:stUrlInformazioni" name="urlInformazioniPSP"/>
			<xs:element type="tns:stZeroUno" name="stornoPagamento"/>
			<xs:element type="tns:stZeroUno" name="marcaBolloDigitale"/>
			<xs:element type="xs:base64Binary" name="logoPSP"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctInformativaDetail">
		<xs:sequence>
			<xs:element type="tns:stText35" name="identificativoIntermediario"/>
			<xs:element type="tns:stText35" name="identificativoCanale"/>
			<xs:element type="tns:stTipoVersamento" name="tipoVersamento"/>
			<xs:element type="tns:stModelloPagamento" name="modelloPagamento"/>
			<xs:element type="xs:int" name="priorita"/>
			<xs:element type="tns:stZeroUno" name="canaleApp"/>
			<xs:element type="tns:stZeroUno" name="generazioneEsitoTransazione" minOccurs="0"/>
			<xs:element type="tns:stZeroUno" name="servizioAlleImprese" minOccurs="0"/>
			<xs:element type="tns:stZeroUno" name="pagamentiPreEsercizio" minOccurs="0"/>
			<xs:element type="tns:ctIdentificazioneServizio" name="identificazioneServizio" minOccurs="0"/>
			<xs:element type="tns:ctListaInformazioniServizio" name="listaInformazioniServizio"/>
			<xs:element type="tns:ctListaParoleChiave" name="listaParoleChiave" minOccurs="0"/>
			<xs:element type="tns:ctCostiServizio" name="costiServizio"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctCostiServizio">
		<xs:sequence>
			<xs:element type="tns:stZeroUno" name="tipoCostoTransazione"/>
			<xs:element type="tns:stZeroUno" name="tipoCommissione"/>
			<xs:element type="tns:stTipoCanaleServizio" name="tipoCanaleServizio" minOccurs="0"/>
			<xs:element type="tns:stPlateaErogazioneServizio" name="plateaErogazioneServizio" minOccurs="0"/>
			<xs:element type="tns:ctListaFasceCostoServizio" name="listaFasceCostoServizio"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctServizioNonDiPagamento">
		<xs:sequence>
			<xs:element type="tns:stText35" name="identificativoIntermediario"/>
			<xs:element type="tns:stText35" name="identificativoCanale"/>
			<xs:element type="tns:stCodiceServizioNonDiPagamento" name="codiceServizioNonDiPagamento"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ctInformazioniServizio">
		<xs:sequence>
			<xs:element type="tns:stCodiceLingua" name="codiceLingua"/>
			<xs:element type="tns:stText511" name="descrizioneServizio" minOccurs="0"/>
			<xs:element type="tns:stText511" name="disponibilitaServizio"/>
			<xs:element type="tns:stText511" name="limitazioniServizio" minOccurs="0"/>
			<xs:element type="tns:stUrlInformazioni" name="urlInformazioniCanale" minOccurs="0"/>
			<xs:element type="tns:stText35" name="condizioniEconomicheMassime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ctFasciaCostoServizio">
		<xs:sequence>
			<xs:element type="tns:stImporto" name="importoMassimoFascia"/>
			<xs:element type="tns:stImporto" name="costoFisso"/>
			<xs:element type="tns:stImporto" name="valoreCommissione"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>





