mypay.sources/mypay4-be/src/main/resources/wsdl/pa/pa-per-nodo-regionale-richiesta-revoca.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

        MyPay - Payment portal of Regione Veneto.
        Copyright (C) 2022  Regione Veneto

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as
        published by the Free Software Foundation, either version 3 of the
        License, or (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License for more details.

        You should have received a copy of the GNU Affero General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!-- 
    Questo WSDL rappresenta l'interfaccia esposta da PA per la ricezione della richiesta di revoca.	
-->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:ppt="http://www.regione.veneto.it/pagamenti/pa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:tns="http://www.regione.veneto.it/pagamenti/pa/RichiestaRevoca" name="PPT"
				  targetNamespace="http://www.regione.veneto.it/pagamenti/pa/RichiestaRevoca">
	<wsdl:types>
		
		<xsd:schema version="1.0" targetNamespace="http://www.regione.veneto.it/pagamenti/pa/">
			
			<xsd:simpleType name="stText35">
				<xsd:restriction base="xsd:string">
		            <xsd:minLength value="1"/>
		            <xsd:maxLength value="35"/>
		        </xsd:restriction>
			</xsd:simpleType>
		
			<xsd:element name="paaSILInviaRichiestaRevoca" type="ppt:paaSILInviaRichiestaRevoca" />
			<xsd:element name="paaSILInviaRichiestaRevocaRisposta" type="ppt:paaSILInviaRichiestaRevocaRisposta" />

			<xsd:complexType name="paaSILInviaRichiestaRevoca">
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="ppt:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" />
					<xsd:element name="codiceContestoPagamento" type="ppt:stText35" />
					<xsd:element name="rr" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="paaSILInviaRichiestaRevocaRisposta">
				<xsd:sequence>
					<xsd:element name="paaSILInviaRichiestaRevocaRisposta" type="ppt:tipoInviaRichiestaRevocaRisposta" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoInviaRichiestaRevocaRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="risposta">
				<xsd:sequence>
					<xsd:element name="fault" type="ppt:faultBean" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="faultBean">
				<xsd:sequence>
					<xsd:element name="faultCode" type="xsd:string" />
					<xsd:element name="faultString" type="xsd:string" />
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" minOccurs="0" />
					<xsd:element name="serial" type="xsd:int" minOccurs="0" />
					<xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0"  />
					<xsd:element name="originalFaultString" type="xsd:string" minOccurs="0"  />
					<xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="paaSILInviaRichiestaRevoca">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILInviaRichiestaRevoca" />
	</wsdl:message>
	<wsdl:message name="paaSILInviaRichiestaRevocaResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILInviaRichiestaRevocaRisposta" />
	</wsdl:message>
	
	<wsdl:portType name="RichiestaRevoca">
		<wsdl:operation name="paaSILInviaRichiestaRevoca">
			<wsdl:input message="tns:paaSILInviaRichiestaRevoca" wsam:Action="http://www.regione.veneto.it/pagamenti/pa/PPT/paaSILInviaRichiestaRevoca" />
			<wsdl:output message="tns:paaSILInviaRichiestaRevocaResponse" wsam:Action="http://www.regione.veneto.it/pagamenti/pa/PPT/paaSILInviaRichiestaRevocaRisposta" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="RichiestaRevocabinding" type="tns:RichiestaRevoca">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="paaSILInviaRichiestaRevoca">
			<soap:operation soapAction="paaSILInviaRichiestaRevoca" />
			<wsdl:input>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="RichiestaRevocaservice">
		<wsdl:port name="RichiestaRevocaPort" binding="tns:RichiestaRevocabinding">
			<soap:address location="/ws/pa/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>