mypay.sources/mypay4-be/src/main/resources/wsdl/pa/pa-per-ente.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

        MyPay - Payment portal of Regione Veneto.
        Copyright (C) 2022  Regione Veneto

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as
        published by the Free Software Foundation, either version 3 of the
        License, or (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License for more details.

        You should have received a copy of the GNU Affero General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<wsdl:definitions xmlns:ppt="http://www.regione.veneto.it/pagamenti/ente/"
				  xmlns:ppthead="http://www.regione.veneto.it/pagamenti/ente/ppthead"
				  xmlns:pay_i="http://www.regione.veneto.it/schemas/2012/Pagamenti/Ente/"
				  xmlns:tns="http://www.regione.veneto.it/pagamenti/ente/PagamentiTelematiciDovutiPagati"
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PagamentiTelematiciDovutiPagatiService"
				  targetNamespace="http://www.regione.veneto.it/pagamenti/ente/PagamentiTelematiciDovutiPagati">

	<wsdl:types>

		<xsd:schema version="1.0"
					targetNamespace="http://www.regione.veneto.it/pagamenti/ente/ppthead">
			<xsd:simpleType name="stText35">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="intestazionePPT">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>

		<xsd:schema version="1.0" targetNamespace="http://www.regione.veneto.it/pagamenti/ente/">

			<xsd:import namespace="http://www.regione.veneto.it/schemas/2012/Pagamenti/Ente/" schemaLocation="PagInf_Dovuti_Pagati_6_2_0.xsd" />

			<xsd:simpleType name="stText35">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stText80">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stText100">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stText70">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="70" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stPassword">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="8"/>
					<xsd:maxLength value="15"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="hashSHA256">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="64"/>
					<xsd:maxLength value="64"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="stShowMyPay">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SHORT"/> <!-- (default) stesso funzionamento  -->
					<xsd:enumeration value="NONE"/> <!-- per utente, mypay è trasparente  -->
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="paaSILChiediEsitoCarrelloDovuti" type="ppt:paaSILChiediEsitoCarrelloDovuti" />
			<xsd:element name="paaSILChiediEsitoCarrelloDovutiRisposta" type="ppt:paaSILChiediEsitoCarrelloDovutiRisposta"/>

			<xsd:element name="paaSILInviaDovuti" type="ppt:paaSILInviaDovuti"/>
			<xsd:element name="paaSILInviaDovutiRisposta" type="ppt:paaSILInviaDovutiRisposta"/>

			<xsd:element name="paaSILInviaCarrelloDovuti" type="ppt:paaSILInviaCarrelloDovuti" />
			<xsd:element name="paaSILInviaCarrelloDovutiRisposta" type="ppt:paaSILInviaCarrelloDovutiRisposta"/>

			<xsd:element name="paaSILVerificaAvviso" type="ppt:paaSILVerificaAvviso"/>
			<xsd:element name="paaSILVerificaAvvisoRisposta" type="ppt:paaSILVerificaAvvisoRisposta"/>

			<xsd:element name="paaSILChiediPagati" type="ppt:paaSILChiediPagati"/>
			<xsd:element name="paaSILChiediPagatiRisposta" type="ppt:paaSILChiediPagatiRisposta"/>

			<xsd:element name="paaSILChiediPagatiConRicevuta" type="ppt:paaSILChiediPagatiConRicevuta"/>
			<xsd:element name="paaSILChiediPagatiConRicevutaRisposta" type="ppt:paaSILChiediPagatiConRicevutaRisposta"/>

			<xsd:element name="paaSILImportaDovuto" type="ppt:paaSILImportaDovuto"/>
			<xsd:element name="paaSILImportaDovutoRisposta" type="ppt:paaSILImportaDovutoRisposta"/>

			<xsd:element name="paaSILRegistraPagamento" type="ppt:paaSILRegistraPagamento"/>
			<xsd:element name="paaSILRegistraPagamentoRisposta" type="ppt:paaSILRegistraPagamentoRisposta"/>

			<xsd:element name="paaSILAutorizzaImportFlusso" type="ppt:paaSILAutorizzaImportFlusso"/>
			<xsd:element name="paaSILAutorizzaImportFlussoRisposta" type="ppt:paaSILAutorizzaImportFlussoRisposta" />

			<xsd:element name="paaSILChiediStatoImportFlusso" type="ppt:paaSILChiediStatoImportFlusso"/>
			<xsd:element name="paaSILChiediStatoImportFlussoRisposta" type="ppt:paaSILChiediStatoImportFlussoRisposta" />

			<xsd:element name="paaSILPrenotaExportFlusso" type="ppt:paaSILPrenotaExportFlusso"/>
			<xsd:element name="paaSILPrenotaExportFlussoRisposta" type="ppt:paaSILPrenotaExportFlussoRisposta"/>

			<xsd:element name="paaSILPrenotaExportFlussoIncrementaleConRicevuta" type="ppt:paaSILPrenotaExportFlussoIncrementaleConRicevuta"/>
			<xsd:element name="paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta" type="ppt:paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta"/>

			<xsd:element name="paaSILPrenotaExportFlussoScaduti" type="ppt:paaSILPrenotaExportFlussoScaduti"/>
			<xsd:element name="paaSILPrenotaExportFlussoScadutiRisposta" type="ppt:paaSILPrenotaExportFlussoScadutiRisposta"/>

			<xsd:element name="paaSILChiediStatoExportFlusso" type="ppt:paaSILChiediStatoExportFlusso"/>
			<xsd:element name="paaSILChiediStatoExportFlussoRisposta" type="ppt:paaSILChiediStatoExportFlussoRisposta" />

			<xsd:element name="paaSILChiediStatoExportFlussoScaduti" type="ppt:paaSILChiediStatoExportFlussoScaduti"/>
			<xsd:element name="paaSILChiediStatoExportFlussoScadutiRisposta" type="ppt:paaSILChiediStatoExportFlussoScadutiRisposta" />

			<xsd:element name="paaSILChiediAvvisiPendenti" type="ppt:paaSILChiediAvvisiPendenti"/>
			<xsd:element name="paaSILChiediAvvisiPendentiRisposta" type="ppt:paaSILChiediAvvisiPendentiRisposta" />
			<xsd:element name="paaSILAvvisoPendente" type="ppt:paaSILAvvisoPendente"/>


			<xsd:element name="paaSILChiediPosizioniAperte" type="ppt:paaSILChiediPosizioniAperte" />
			<xsd:element name="paaSILChiediPosizioniAperteRisposta"
						 type="ppt:paaSILChiediPosizioniAperteRisposta" />
			<xsd:element name="paaSILPosizioniAperte" type="ppt:paaSILPosizioniAperte" />
			<xsd:element name="paaSILChiediStoricoPagamenti" type="ppt:paaSILChiediStoricoPagamenti" />
			<xsd:element name="paaSILChiediStoricoPagamentiRisposta"
						 type="ppt:paaSILChiediStoricoPagamentiRisposta" />
			<xsd:element name="paaSILStoricoPagamenti" type="ppt:paaSILStoricoPagamenti" />
			<xsd:complexType name="risposta">
				<xsd:sequence>
					<xsd:element name="fault" type="ppt:faultBean" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="faultBean">
				<xsd:sequence>
					<xsd:element name="faultCode" type="xsd:string"/>
					<xsd:element name="faultString" type="xsd:string"/>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string" minOccurs="0" />
					<xsd:element name="serial" type="xsd:int" minOccurs="0"/>
					<xsd:element name="originalFaultCode" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalFaultString" type="xsd:string"  minOccurs="0"  />
					<xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="paaSILInviaDovuti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="dovuti" type="xsd:base64Binary"/>
					<xsd:element name="enteSILInviaRispostaPagamentoUrl"
								 type="xsd:string" default="" minOccurs="0" />
					<xsd:element name="showMyPay" type="ppt:stShowMyPay" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILInviaDovutiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="idSession" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="redirect" type="xsd:int" default="0"
										 minOccurs="0" />
							<xsd:element name="url" type="xsd:string" default=""
										 minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILInviaCarrelloDovuti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword"/>
					<xsd:element name="listaDovuti" type="ppt:listaDovuti"/>
					<xsd:element name="listaDovutiEntiSecondari" type="ppt:listaDovutiEntiSecondari" minOccurs="0"/>
					<xsd:element name="enteSILInviaRispostaPagamentoUrl" type="xsd:string" default="" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listaDovuti">
				<xsd:sequence>
					<xsd:element name="elementoListaDovuti" type="ppt:elementoListaDovuti" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="elementoListaDovuti">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="password" type="ppt:hashSHA256"/>
					<xsd:element name="dovuti" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listaDovutiEntiSecondari">
				<xsd:sequence>
					<xsd:element name="elementoListaDovutiEntiSecondari" type="ppt:elementoListaDovutiEntiSecondari" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="elementoListaDovutiEntiSecondari">
				<xsd:sequence>
					<xsd:element name="dovutiEntiSecondari" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="paaSILInviaCarrelloDovutiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="idSessionCarrello" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="redirect" type="xsd:int" default="0"
										 minOccurs="0" />
							<xsd:element name="url" type="xsd:string" default=""
										 minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILVerificaAvviso">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoVersamento"
								 type="ppt:stText35" />
					<xsd:element name="enteSILInviaRispostaPagamentoUrl"
								 type="xsd:string" default="" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILVerificaAvvisoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="idSession" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="redirect" type="xsd:int" default="0"
										 minOccurs="0" />
							<xsd:element name="url" type="xsd:string" default=""
										 minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediPagati">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="idSession" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediPagatiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="pagati" type="xsd:base64Binary"
										 xmime:expectedContentTypes="application/octet-stream"
										 xmlns:xmime="http://www.w3.org/2005/05/xmlmime" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediPagatiConRicevuta">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="idSession" type="xsd:string" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoDovuto" type="ppt:stText35" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediPagatiConRicevutaRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="pagati" type="xsd:base64Binary"
										 xmime:expectedContentTypes="application/octet-stream"
										 xmlns:xmime="http://www.w3.org/2005/05/xmlmime" minOccurs="0" />
							<xsd:element name="tipoFirma" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="rt" type="xsd:base64Binary"
										 xmime:expectedContentTypes="application/octet-stream"
										 xmlns:xmime="http://www.w3.org/2005/05/xmlmime" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILImportaDovuto">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="dovuto" type="xsd:base64Binary"/>
					<xsd:element name="flagGeneraIuv" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="listaDovutiEntiSecondari" type="ppt:listaDovutiEntiSecondari" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="paaSILImportaDovutoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="identificativoUnivocoVersamento" type="ppt:stText35"
										 minOccurs="0" />
							<xsd:element name="urlFileAvviso" type="xsd:string"
										 minOccurs="0" />
							<xsd:element name="base64ZipAvviso" type="xsd:base64Binary"
										 xmime:expectedContentTypes="application/octet-stream"
										 xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
										 minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILRegistraPagamento">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoVersamento" type="pay_i:stText35" minOccurs="1"/>
					<xsd:element name="codiceContestoPagamento" type="pay_i:stText35" minOccurs="0"/>
					<xsd:element name="singoloImportoPagato" type="pay_i:stImporto" minOccurs="1"/>
					<xsd:element name="dataEsitoSingoloPagamento" type="pay_i:stISODate" minOccurs="1"/>
					<xsd:element name="indiceDatiSingoloPagamento" type="pay_i:stIndice" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoRiscossione" type="pay_i:stText35" minOccurs="1"/>
					<xsd:element name="tipoIstitutoAttestante" type="pay_i:stText1" minOccurs="1"/>
					<xsd:element name="codiceIstitutiAttestante" type="pay_i:stText35" minOccurs="1"/>
					<xsd:element name="denominazioneAttestante" type="pay_i:stText70" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILRegistraPagamentoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>







			<xsd:complexType name="paaSILAutorizzaImportFlusso">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILAutorizzaImportFlussoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="uploadUrl" type="xsd:string"/>
							<xsd:element name="authorizationToken" type="xsd:string"/>
							<xsd:element name="requestToken" type="xsd:string"/>
							<xsd:element name="importPath" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediStatoImportFlusso">
				<xsd:sequence>
					<xsd:element name="requestToken" type="xsd:string"/>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="fileScarti" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="fileIUV" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="fileAvvisi" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediStatoImportFlussoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="stato" type="xsd:string"/>
							<xsd:element name="urlFileScarti" type="xsd:string" minOccurs="0"/>
							<xsd:element name="urlFileIUV" type="xsd:string" minOccurs="0"/>
							<xsd:element name="urlFileAvvisi" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILPrenotaExportFlusso">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="dateFrom" type="xsd:date"/>
					<xsd:element name="dateTo" type="xsd:date"/>
					<xsd:element name="identificativoTipoDovuto" type="pay_i:stText35"
								 minOccurs="0" />
					<xsd:element name="versioneTracciato" type="pay_i:stText35" minOccurs="0" default="1.0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILPrenotaExportFlussoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="requestToken" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="paaSILPrenotaExportFlussoScaduti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="dataScadenza" type="xsd:date"/>
					<xsd:element name="tipiDovuto" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILPrenotaExportFlussoScadutiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="requestToken" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="paaSILPrenotaExportFlussoIncrementaleConRicevuta">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="dateFrom" type="xsd:dateTime"/>
					<xsd:element name="dateTo" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="identificativoTipoDovuto" type="pay_i:stText35"
								 minOccurs="0" />
					<xsd:element name="ricevuta" type="xsd:boolean"/>
					<xsd:element name="incrementale" type="xsd:boolean"/>
					<xsd:element name="versioneTracciato" type="pay_i:stText35" minOccurs="0" default="1.0"/>
					<xsd:element name="passwordMypivot" type="ppt:stPassword" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="requestToken" type="xsd:string"/>
							<xsd:element name="dateTo" type="xsd:dateTime"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediStatoExportFlusso">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="requestToken" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediStatoExportFlussoRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="stato" type="xsd:string"/>
							<xsd:element name="downloadUrl" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="paaSILChiediStatoExportFlussoScaduti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="requestToken" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediStatoExportFlussoScadutiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="stato" type="xsd:string"/>
							<xsd:element name="nomeFile" type="xsd:string"/>
							<xsd:element name="downloadUrl" type="xsd:string"/>
							<xsd:element name="pathFile" type="xsd:string"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>			

			<xsd:complexType name="paaSILChiediAvvisiPendenti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="dateFrom" type="xsd:date"/>
					<xsd:element name="dateTo" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediAvvisiPendentiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="paaSILAvvisoPendente" type="ppt:paaSILAvvisoPendente"
										 minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="paaSILAvvisoPendente">
				<xsd:sequence>
					<xsd:element name="dtCreazioneCodIuv" type="xsd:date"/>
					<xsd:element name="dovuti" type="xsd:base64Binary"
								 xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
								 minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediPosizioniAperte">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="codIpaEnte" type="ppt:stText35" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoPersonaFG" type="pay_i:ctIdentificativoUnivocoPersonaFG"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediPosizioniAperteRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="paaSILPosizioniAperte" type="ppt:paaSILPosizioniAperte"
										 minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="paaSILPosizioniAperte">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppt:stText80" minOccurs="1"/>
					<xsd:element name="deNomeEnte" type="ppt:stText100" minOccurs="1"/>
					<xsd:element name="urlPagamento" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dovuti" type="xsd:base64Binary"
								 xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
								 minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediStoricoPagamenti">
				<xsd:sequence>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="codIpaEnte" type="ppt:stText35" minOccurs="0"/>
					<xsd:element name="identificativoUnivocoPersonaFG" type="pay_i:ctIdentificativoUnivocoPersonaFG"/>
					<xsd:element name="dataFrom" type="xsd:dateTime" minOccurs="1"/>
					<xsd:element name="dataTo" type="xsd:dateTime" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediStoricoPagamentiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="dateTo" type="xsd:dateTime"/>
							<xsd:element name="paaSILStoricoPagamenti" type="ppt:paaSILStoricoPagamenti"
										 minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="paaSILStoricoPagamenti">
				<xsd:sequence>
					<xsd:element name="ctPagatiConRicevuta" type="xsd:base64Binary"
								 xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
								 minOccurs="0" />
					<xsd:element name="urlDownloadRT" type="xsd:string" minOccurs="0"/>
					<xsd:element name="rt" type="xsd:base64Binary"
								 xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
								 minOccurs="0" />
					<xsd:element name="codIpaEnte" type="ppt:stText80" minOccurs="1"/>
					<xsd:element name="deNomeEnte" type="ppt:stText100" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paaSILChiediEsitoCarrelloDovuti">
				<xsd:sequence>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="password" type="ppt:stPassword" minOccurs="0"/>
					<xsd:element name="idSessionCarrello" type="xsd:string"  />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="paaSILChiediEsitoCarrelloDovutiRisposta">
				<xsd:complexContent>
					<xsd:extension base="ppt:risposta">
						<xsd:sequence>
							<xsd:element name="listaCarrelli" type="ppt:listaCarrelli"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="listaCarrelli">
				<xsd:sequence>
					<xsd:element name="rispostaCarrello" type="ppt:rispostaCarrello"  minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="rispostaCarrello">
				<xsd:sequence>
					<xsd:element name="esito" type="xsd:string"/>
					<xsd:element name="codIpaEnte" type="ppthead:stText35"/>
					<xsd:element name="codIdentificativoUnivocoCarrello" type="ppthead:stText35"/>
					<xsd:element name="pagati" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"
								 xmlns:xmime="http://www.w3.org/2005/05/xmlmime" minOccurs="0" />
					<xsd:element name="rt" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"
								 xmlns:xmime="http://www.w3.org/2005/05/xmlmime" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>




		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="paaSILInviaDovuti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILInviaDovuti">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILInviaDovutiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILInviaDovutiRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILInviaCarrelloDovuti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILInviaCarrelloDovuti">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILInviaCarrelloDovutiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILInviaCarrelloDovutiRisposta">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="paaSILVerificaAvviso">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILVerificaAvviso">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILVerificaAvvisoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILVerificaAvvisoRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILChiediPagati">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediPagati"/>
	</wsdl:message>
	<wsdl:message name="paaSILChiediPagatiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediPagatiRisposta"/>
	</wsdl:message>

	<wsdl:message name="paaSILChiediPagatiConRicevuta">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediPagatiConRicevuta"/>
	</wsdl:message>
	<wsdl:message name="paaSILChiediPagatiConRicevutaResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediPagatiConRicevutaRisposta"/>
	</wsdl:message>

	<wsdl:message name="paaSILImportaDovuto">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILImportaDovuto">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILImportaDovutoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILImportaDovutoRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILRegistraPagamento">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILRegistraPagamento"/>
	</wsdl:message>
	<wsdl:message name="paaSILRegistraPagamentoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILRegistraPagamentoRisposta"/>
	</wsdl:message>

	<wsdl:message name="paaSILAutorizzaImportFlusso">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILAutorizzaImportFlusso">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILAutorizzaImportFlussoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILAutorizzaImportFlussoRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILChiediStatoImportFlusso">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediStatoImportFlusso">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILChiediStatoImportFlussoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediStatoImportFlussoRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILPrenotaExportFlusso">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILPrenotaExportFlusso">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILPrenotaExportFlussoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILPrenotaExportFlussoRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILPrenotaExportFlussoScaduti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILPrenotaExportFlussoScaduti">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILPrenotaExportFlussoScadutiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILPrenotaExportFlussoScadutiRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILPrenotaExportFlussoIncrementaleConRicevuta">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILPrenotaExportFlussoIncrementaleConRicevuta">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILPrenotaExportFlussoIncrementaleConRicevutaResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="paaSILChiediStatoExportFlusso">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediStatoExportFlusso">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILChiediStatoExportFlussoResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediStatoExportFlussoRisposta">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="paaSILChiediStatoExportFlussoScaduti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediStatoExportFlussoScaduti">
		</wsdl:part>
		<wsdl:part name="header" element="ppthead:intestazionePPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paaSILChiediStatoExportFlussoScadutiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediStatoExportFlussoScadutiRisposta">
		</wsdl:part>
	</wsdl:message>	

	<wsdl:message name="paaSILChiediAvvisiPendenti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediAvvisiPendenti"/>
	</wsdl:message>
	<wsdl:message name="paaSILChiediAvvisiPendentiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediAvvisiPendentiRisposta"/>
	</wsdl:message>

	<wsdl:message name="paaSILChiediEsitoCarrelloDovuti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediEsitoCarrelloDovuti"/>
	</wsdl:message>
	<wsdl:message name="paaSILChiediEsitoCarrelloDovutiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediEsitoCarrelloDovutiRisposta"/>
	</wsdl:message>

	<wsdl:message name="paaSILChiediPosizioniAperte">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediPosizioniAperte" />
	</wsdl:message>
	<wsdl:message name="paaSILChiediPosizioniAperteResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediPosizioniAperteRisposta" />
	</wsdl:message>
	<wsdl:message name="paaSILChiediStoricoPagamenti">
		<wsdl:part name="bodyrichiesta" element="ppt:paaSILChiediStoricoPagamenti" />
	</wsdl:message>
	<wsdl:message name="paaSILChiediStoricoPagamentiResponse">
		<wsdl:part name="bodyrisposta" element="ppt:paaSILChiediStoricoPagamentiRisposta" />
	</wsdl:message>
	<wsdl:portType name="PagamentiTelematiciDovutiPagati">

		<wsdl:operation name="paaSILInviaDovuti">
			<wsdl:input name="paaSILInviaDovuti" message="tns:paaSILInviaDovuti"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaDovutiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaDovutiRichiesta">
			</wsdl:input>
			<wsdl:output name="paaSILInviaDovutiResponse" message="tns:paaSILInviaDovutiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaDovutiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaDovutiRisposta">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILInviaCarrelloDovuti">
			<wsdl:input name="paaSILInviaCarrelloDovuti" message="tns:paaSILInviaCarrelloDovuti"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaCarrelloDovutiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaCarrelloDovutiRichiesta">
			</wsdl:input>
			<wsdl:output name="paaSILInviaCarrelloDovutiResponse" message="tns:paaSILInviaCarrelloDovutiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaCarrelloDovutiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILInviaCarrelloDovutiRisposta">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILVerificaAvviso">
			<wsdl:input name="paaSILVerificaAvviso" message="tns:paaSILVerificaAvviso"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILVerificaAvvisoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILVerificaAvvisoRichiesta">
			</wsdl:input>
			<wsdl:output name="paaSILVerificaAvvisoResponse" message="tns:paaSILVerificaAvvisoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILVerificaAvvisoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILVerificaAvvisoRisposta">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediPagati">
			<wsdl:input name="paaSILChiediPagati" message="tns:paaSILChiediPagati"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiRichiesta" />
			<wsdl:output name="paaSILChiediPagatiResponse" message="tns:paaSILChiediPagatiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediPagatiConRicevuta">
			<wsdl:input name="paaSILChiediPagatiConRicevuta" message="tns:paaSILChiediPagatiConRicevuta"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiConRicevutaRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiConRicevutaRichiesta" />
			<wsdl:output name="paaSILChiediPagatiConRicevutaResponse" message="tns:paaSILChiediPagatiConRicevutaResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiConRicevutaRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPagatiConRicevutaRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILImportaDovuto">
			<wsdl:input name="paaSILImportaDovuto" message="tns:paaSILImportaDovuto"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILImportaDovutoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILImportaDovutoRichiesta">
			</wsdl:input>
			<wsdl:output name="paaSILImportaDovutoResponse" message="tns:paaSILImportaDovutoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILImportaDovutoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILImportaDovutoRisposta">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILRegistraPagamento">
			<wsdl:input name="paaSILRegistraPagamento" message="tns:paaSILRegistraPagamento"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILRegistraPagamentoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILRegistraPagamentoRichiesta">
			</wsdl:input>
			<wsdl:output name="paaSILRegistraPagamentoResponse" message="tns:paaSILRegistraPagamentoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILRegistraPagamentoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILRegistraPagamentoRisposta">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILAutorizzaImportFlusso">
			<wsdl:input name="paaSILAutorizzaImportFlusso" message="tns:paaSILAutorizzaImportFlusso"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILAutorizzaImportFlussoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILAutorizzaImportFlussoRichiesta" />
			<wsdl:output name="paaSILAutorizzaImportFlussoResponse"
						 message="tns:paaSILAutorizzaImportFlussoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILAutorizzaImportFlussoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILAutorizzaImportFlussoRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediStatoImportFlusso">
			<wsdl:input name="paaSILChiediStatoImportFlusso" message="tns:paaSILChiediStatoImportFlusso"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoImportFlussoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoImportFlussoRichiesta" />
			<wsdl:output name="paaSILChiediStatoImportFlussoResponse"
						 message="tns:paaSILChiediStatoImportFlussoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoImportFlussoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoImportFlussoRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILPrenotaExportFlusso">
			<wsdl:input name="paaSILPrenotaExportFlusso" message="tns:paaSILPrenotaExportFlusso"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoRichiesta" />
			<wsdl:output name="paaSILPrenotaExportFlussoResponse"
						 message="tns:paaSILPrenotaExportFlussoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoRisposta" />
		</wsdl:operation>
		
		<wsdl:operation name="paaSILPrenotaExportFlussoScaduti">
			<wsdl:input name="paaSILPrenotaExportFlussoScaduti" message="tns:paaSILPrenotaExportFlussoScaduti"
				wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoScadutiRichiesta"
				wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoScadutiRichiesta" />
			<wsdl:output name="paaSILPrenotaExportFlussoScadutiResponse"
				message="tns:paaSILPrenotaExportFlussoScadutiResponse"
				wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoScadutiRisposta"
				wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoScadutiRisposta" />
		</wsdl:operation>		
		
		<wsdl:operation name="paaSILPrenotaExportFlussoIncrementaleConRicevuta">
			<wsdl:input name="paaSILPrenotaExportFlussoIncrementaleConRicevuta" message="tns:paaSILPrenotaExportFlussoIncrementaleConRicevuta"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoIncrementaleConRicevutaRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoIncrementaleConRicevutaRichiesta" />
			<wsdl:output name="paaSILPrenotaExportFlussoIncrementaleConRicevutaResponse"
						 message="tns:paaSILPrenotaExportFlussoIncrementaleConRicevutaResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILPrenotaExportFlussoIncrementaleConRicevutaRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediStatoExportFlusso">
			<wsdl:input name="paaSILChiediStatoExportFlusso" message="tns:paaSILChiediStatoExportFlusso"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoRichiesta" />
			<wsdl:output name="paaSILChiediStatoExportFlussoResponse"
						 message="tns:paaSILChiediStatoExportFlussoResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoRisposta" />
		</wsdl:operation>
		
		<wsdl:operation name="paaSILChiediStatoExportFlussoScaduti">
			<wsdl:input name="paaSILChiediStatoExportFlussoScaduti" message="tns:paaSILChiediStatoExportFlussoScaduti"
				wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoScadutiRichiesta"
				wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoScadutiRichiesta" />
			<wsdl:output name="paaSILChiediStatoExportFlussoScadutiResponse"
				message="tns:paaSILChiediStatoExportFlussoScadutiResponse"
				wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoScadutiRisposta"
				wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStatoExportFlussoScadutiRisposta" />
		</wsdl:operation>		

		<wsdl:operation name="paaSILChiediAvvisiPendenti">
			<wsdl:input name="paaSILChiediAvvisiPendenti" message="tns:paaSILChiediAvvisiPendenti"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediAvvisiPendentiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediAvvisiPendentiRichiesta" />
			<wsdl:output name="paaSILChiediAvvisiPendentiResponse"
						 message="tns:paaSILChiediAvvisiPendentiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediAvvisiPendentiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediAvvisiPendentiRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediEsitoCarrelloDovuti">
			<wsdl:input name="paaSILChiediEsitoCarrelloDovuti" message="tns:paaSILChiediEsitoCarrelloDovuti"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediEsitoCarrelloDovutiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediEsitoCarrelloDovutiRichiesta" />
			<wsdl:output name="paaSILChiediEsitoCarrelloDovutiResponse"
						 message="tns:paaSILChiediEsitoCarrelloDovutiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediEsitoCarrelloDovutiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediEsitoCarrelloDovutiRisposta" />
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediPosizioniAperte">
			<wsdl:input name="paaSILChiediPosizioniAperte" message="tns:paaSILChiediPosizioniAperte"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPosizioniAperteRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPosizioniAperteRichiesta" />
			<wsdl:output name="paaSILChiediPosizioniAperteResponse"
						 message="tns:paaSILChiediPosizioniAperteResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPosizioniAperteRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediPosizioniAperteRisposta" />
		</wsdl:operation>
		<wsdl:operation name="paaSILChiediStoricoPagamenti">
			<wsdl:input name="paaSILChiediStoricoPagamenti" message="tns:paaSILChiediStoricoPagamenti"
						wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStoricoPagamentiRichiesta"
						wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStoricoPagamentiRichiesta" />
			<wsdl:output name="paaSILChiediStoricoPagamentiResponse"
						 message="tns:paaSILChiediStoricoPagamentiResponse"
						 wsam:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStoricoPagamentiRisposta"
						 wsaw:Action="http://www.regione.veneto.it/pagamenti/ente/PPT/paaSILChiediStoricoPagamentiRisposta" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciDovutiPagatiBinding"
				  type="tns:PagamentiTelematiciDovutiPagati">

		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="paaSILInviaDovuti">
			<soap:operation soapAction="paaSILInviaDovuti" style="document"/>
			<wsdl:input name="paaSILInviaDovuti">
				<soap:header message="tns:paaSILInviaDovuti" part="header"
							 use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILInviaDovutiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILInviaCarrelloDovuti">
			<soap:operation soapAction="paaSILInviaCarrelloDovuti" style="document"/>
			<wsdl:input name="paaSILInviaCarrelloDovuti">
				<soap:header message="tns:paaSILInviaCarrelloDovuti" part="header"
							 use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILInviaCarrelloDovutiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILVerificaAvviso">
			<soap:operation soapAction="paaSILVerificaAvviso"
							style="document" />
			<wsdl:input name="paaSILVerificaAvviso">
				<soap:header message="tns:paaSILVerificaAvviso" part="header"
							 use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILVerificaAvvisoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediPagati">
			<soap:operation soapAction="paaSILChiediPagati" style="document"/>
			<wsdl:input name="paaSILChiediPagati">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediPagatiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediPagatiConRicevuta">
			<soap:operation soapAction="paaSILChiediPagatiConRicevuta" style="document"/>
			<wsdl:input name="paaSILChiediPagatiConRicevuta">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediPagatiConRicevutaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILImportaDovuto">
			<soap:operation soapAction="paaSILImportaDovuto" style="document"/>
			<wsdl:input name="paaSILImportaDovuto">
				<soap:header message="tns:paaSILImportaDovuto" part="header"
							 use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILImportaDovutoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILRegistraPagamento">
			<soap:operation soapAction="paaSILRegistraPagamento" style="document"/>
			<wsdl:input name="paaSILRegistraPagamento">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILRegistraPagamentoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILAutorizzaImportFlusso">
			<soap:operation soapAction="paaSILAutorizzaImportFlusso"
							style="document" />
			<wsdl:input name="paaSILAutorizzaImportFlusso">
				<soap:header message="tns:paaSILAutorizzaImportFlusso"
							 part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILAutorizzaImportFlussoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediStatoImportFlusso">
			<soap:operation soapAction="paaSILChiediStatoImportFlusso"
							style="document" />
			<wsdl:input name="paaSILChiediStatoImportFlusso">
				<soap:header message="tns:paaSILChiediStatoImportFlusso"
							 part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediStatoImportFlussoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILPrenotaExportFlusso">
			<soap:operation soapAction="paaSILPrenotaExportFlusso"
							style="document" />
			<wsdl:input name="paaSILPrenotaExportFlusso">
				<soap:header message="tns:paaSILPrenotaExportFlusso"
							 part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILPrenotaExportFlussoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILPrenotaExportFlussoScaduti">
			<soap:operation soapAction="paaSILPrenotaExportFlussoScaduti"
				style="document" />
			<wsdl:input name="paaSILPrenotaExportFlussoScaduti">
				<soap:header message="tns:paaSILPrenotaExportFlussoScaduti"
					part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILPrenotaExportFlussoScadutiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		
		
		<wsdl:operation name="paaSILPrenotaExportFlussoIncrementaleConRicevuta">
			<soap:operation soapAction="paaSILPrenotaExportFlussoIncrementaleConRicevuta"
							style="document" />
			<wsdl:input name="paaSILPrenotaExportFlussoIncrementaleConRicevuta">
				<soap:header message="tns:paaSILPrenotaExportFlussoIncrementaleConRicevuta"
							 part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILPrenotaExportFlussoIncrementaleConRicevutaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediStatoExportFlusso">
			<soap:operation soapAction="paaSILChiediStatoExportFlusso"
							style="document" />
			<wsdl:input name="paaSILChiediStatoExportFlusso">
				<soap:header message="tns:paaSILChiediStatoExportFlusso"
							 part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediStatoExportFlussoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="paaSILChiediStatoExportFlussoScaduti">
			<soap:operation soapAction="paaSILChiediStatoExportFlussoScaduti"
				style="document" />
			<wsdl:input name="paaSILChiediStatoExportFlussoScaduti">
				<soap:header message="tns:paaSILChiediStatoExportFlussoScaduti"
					part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediStatoExportFlussoScadutiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>		

		<wsdl:operation name="paaSILChiediAvvisiPendenti">
			<soap:operation soapAction="paaSILChiediAvvisiPendenti"
							style="document" />
			<wsdl:input name="paaSILChiediAvvisiPendenti">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediAvvisiPendentiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paaSILChiediEsitoCarrelloDovuti">
			<soap:operation soapAction="paaSILChiediEsitoCarrelloDovuti"
							style="document" />
			<wsdl:input name="paaSILChiediEsitoCarrelloDovuti">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="paaSILChiediEsitoCarrelloDovutiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="paaSILChiediPosizioniAperte">
			<soap:operation soapAction="paaSILChiediPosizioniAperte"
							style="document" />
			<wsdl:input name="paaSILChiediPosizioniAperte">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="paaSILChiediPosizioniAperteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paaSILChiediStoricoPagamenti">
			<soap:operation soapAction="paaSILChiediStoricoPagamenti"
							style="document" />
			<wsdl:input name="paaSILChiediStoricoPagamenti">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="paaSILChiediStoricoPagamentiResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PagamentiTelematiciDovutiPagatiService">
		<wsdl:port name="PagamentiTelematiciDovutiPagatiPort"
				   binding="tns:PagamentiTelematiciDovutiPagatiBinding">
			<soap:address location="/ws/pa/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>