mypay.sources/mypay4-be/src/main/resources/wsdl/pa/PagInf_RP_Esito_6_2_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

        MyPay - Payment portal of Regione Veneto.
        Copyright (C) 2022  Regione Veneto

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as
        published by the Free Software Foundation, either version 3 of the
        License, or (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License for more details.

        You should have received a copy of the GNU Affero General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<xsd:schema xmlns:pay_i="http://www.regione.veneto.it/schemas/2012/Pagamenti/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.regione.veneto.it/schemas/2012/Pagamenti/"
			elementFormDefault="qualified" attributeFormDefault="unqualified"
			version="6.0.2">
	<xsd:annotation>
		<xsd:documentation>Richiesta Pagamento (RP) ed Esito
		</xsd:documentation>
		<xsd:documentation>XSD RP/Esito relativo al documento base "SPECIFICHE
			ATTUATIVE DEL NODO DEI PAGAMENTI-SPC versione 1.4.1"
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="http://www.regione.veneto.it/schemas/2012/Pagamenti/Ente/" schemaLocation="PagInf_Dovuti_Pagati_6_2_0.xsd"  />


	<!-- **** BEGIN: tipi semplici **** -->

	<xsd:simpleType name="stIBAN">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stISODate">
		<xsd:restriction base="xsd:date" />
	</xsd:simpleType>

	<xsd:simpleType name="stISODateTime">
		<xsd:restriction base="xsd:dateTime" />
	</xsd:simpleType>

	<xsd:simpleType name="stText16">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="16" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText35">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="35" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText70">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="70" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText140">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="140" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText210">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="210" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stText512">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="512" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="stText1024">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="1024" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stBoolean">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="T" /> <!-- True -->
			<xsd:enumeration value="F" /> <!--- False -->
			<xsd:maxLength value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stAutenticazioneSoggetto">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4" />
			<xsd:enumeration value="CNS" /><!-- CIE/CNS -->
			<xsd:enumeration value="USR" /><!-- Userid e passaword -->
			<xsd:enumeration value="OTH" /><!-- Altro -->
			<xsd:enumeration value="N/A" /><!-- Non applicabile -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stCodiceEsitoPagamento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,1}" />
			<xsd:enumeration value="0" /><!-- Pagamento eseguito -->
			<xsd:enumeration value="1" /><!-- Pagamento non eseguito -->
			<xsd:enumeration value="2" /><!-- Pagamento parzialmente 
				eseguito -->
			<xsd:enumeration value="3" /><!-- Decorrenza termini -->
			<xsd:enumeration value="4" /><!-- Decorrenza termini parziale -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stImporto">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.00" />
			<xsd:maxInclusive value="999999999.99" />
			<xsd:fractionDigits value="2" />
			<xsd:totalDigits value="12" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stNazione">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2,2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stNazioneProvincia">
		<xsd:restriction base="xsd:string">
              <xsd:pattern value="[A-Z]{2,2}"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoVersamento">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BBT" /> <!-- Bonifico Bancario di Tesoreria -->
			<xsd:enumeration value="BP" /> <!--- Bonifico Postale -->
			<xsd:enumeration value="AD" /> <!--- Addebito Diretto -->
			<xsd:enumeration value="CP" /> <!--- Carta di Pagamento -->
			<xsd:enumeration value="PO" /> <!--- Pagamento attivato presso PSP -->
			<xsd:enumeration value="OBEP" /> <!--- On-line Banking E-Payment -->
			<xsd:maxLength value="4" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stDatiSpecificiRiscossione">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0129]{1}\/\S{3,138}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stIBANIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivoco">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:enumeration value="A" /><!-- Codice ABI -->
			<xsd:enumeration value="B" /><!-- Codice BIC -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivocoPersFG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="F" /><!-- Persona Fisica -->
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoIdentificativoUnivocoPersG">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="G" /><!-- Persona Giuridica -->
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stBICIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEMail">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="[a-zA-Z0-9_!#$%&amp;'*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+" />
			<xsd:maxLength value="256" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stTipoBollo">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01"/><!-- Imposta di bollo -->
			<xsd:length value="2"/>
        </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stTipoAllegatoRicevuta">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ES" /><!-- Esito originario pagamento 
				(come ricevuto da PSP) -->
			<xsd:enumeration value="BD" /><!-- Marca da bollo digitale -->
			<xsd:length value="2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stBase64">
		<xsd:restriction base="xsd:base64Binary">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTransferType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="POSTAL"></xsd:enumeration>
			<xsd:enumeration value="PAGOPA"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stOutcome">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK" />
			<xsd:enumeration value="KO" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stNoticeNumber">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{18}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stFiscalCodePA">
		<xsd:restriction base="xsd:string">
			<xsd:length value="11" />
			<xsd:pattern value="[0-9]{11}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stAmount">
		<xsd:restriction base="xsd:decimal">
			<xsd:pattern value="\d+\.\d{2}" />
			<xsd:maxInclusive value="999999999.99" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEntityUniqueIdentifierValue">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2" />
			<xsd:maxLength value="16" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stEntityUniqueIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="F" />
			<xsd:enumeration value="G" />
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stBase64Binary72">
		<xsd:restriction base="xsd:base64Binary">
			<xsd:pattern value=".{4,72}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stTipoBolloDigitale">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01" />
			<xsd:length value="2" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- **** END: tipi semplici **** -->

	<!-- **** BEGIN: tipi complessi **** -->

	<!-- Dominio -->
	<xsd:complexType name="ctDominio">
		<xsd:sequence>
			<xsd:element name="identificativoDominio" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico contenente il codice fiscale
						della struttura che invia la richiesta di pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoStazioneRichiedente"
				type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifica la stazione richiedente il pagamento.
						Nella fattispecie assume il codice del PdA richiedente o quello
						del Portale del
						ministero.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ctDatiMarcaBolloDigitale">
		<xsd:sequence>
			<xsd:element name="tipoBollo" type="pay_i:stTipoBollo" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la tipologia di Bollo Digitale.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hashDocumento" type="pay_i:stText70" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene l’impronta informatica (digest), rappresentata in “base 64 binary”, del documento informatico o della segnatura di protocollo cui è associata la marca da bollo digitale</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaResidenza" type="pay_i:stNazioneProvincia" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Sigla automobilistica della provincia di residenza del soggetto pagatore.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ctAllegatoRicevuta">
		<xsd:sequence>
			<xsd:element name="tipoAllegatoRicevuta" type="pay_i:stTipoAllegatoRicevuta"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identifica il tipo di allegato trasportato con
						la RT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="testoAllegato" type="pay_i:stBase64"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene l’allegato vero e proprio, il cui
						significato è indicato dal dato tipoAllegatoRicevuta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- **** BEGIN: Identificativi univoci dei soggetti -->
	<xsd:complexType name="ctIdentificativoUnivoco">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco" type="pay_i:stTipoIdentificativoUnivoco"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
					<xsd:documentation>A - Codice ABI</xsd:documentation>
					<xsd:documentation>B - Codice BIC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o la partita IVA del soggetto o il codice ABI o il codice
						BIC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctIdentificativoUnivocoPersonaFG">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco"
				type="pay_i:stTipoIdentificativoUnivocoPersFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:</xsd:documentation>
					<xsd:documentation>F - Persona Fisica</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o, in alternativa, la partita IVA del soggetto.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctIdentificativoUnivocoPersonaG">
		<xsd:sequence>
			<xsd:element name="tipoIdentificativoUnivoco"
				type="pay_i:stTipoIdentificativoUnivocoPersG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che indica la natura del
						soggetto, può assumere i seguenti valori:</xsd:documentation>
					<xsd:documentation>G - Persona Giuridica</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceIdentificativoUnivoco" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo alfanumerico che può contenere il codice
						fiscale o, in alternativa, la partita IVA del soggetto.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- **** END: Identificativi univoci dei soggetti -->

	<!-- **** BEGIN: Soggetti -->
	<!-- Soggetto Versante -->
	<xsd:complexType name="ctSoggettoVersante">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoVersante"
				type="pay_i:ctIdentificativoUnivocoPersonaFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anagraficaVersante" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica il nominativo o la ragione sociale del
						versante.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoVersante" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoVersante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capVersante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP del versante.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaVersante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaVersante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneVersante" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione del versante secondo lo
						standard ISO 3166.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="e-mailVersante" type="pay_i:stEMail"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indirizzo di posta elettronica del versante.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Soggetto Pagatore -->
	<xsd:complexType name="ctSoggettoPagatore">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoPagatore"
				type="pay_i:ctIdentificativoUnivocoPersonaFG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anagraficaPagatore" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica il nominativo o la ragione sociale del
						pagatore.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoPagatore" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoPagatore" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capPagatore" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP del pagatore.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaPagatore" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaPagatore" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazionePagatore" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione del pagatore secondo lo
						standard ISO 3166.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="e-mailPagatore" type="pay_i:stEMail"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indirizzo di posta elettronica del pagatore.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Ente Beneficiario -->
	<xsd:complexType name="ctEnteBeneficiario">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoBeneficiario"
				type="pay_i:ctIdentificativoUnivocoPersonaG" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>tipo_identificativo_univoco - se presente deve
						assumere il valore ‘G’, Persona Giuridica.</xsd:documentation>
					<xsd:documentation>codice_identificativo_univoco - contenente il
						codice fiscale dell’amministrazione destinataria del pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denominazioneBeneficiario" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione della PA.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceUnitOperBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denomUnitOperBeneficiario" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoBeneficiario" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoBeneficiario" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico del beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capBeneficiario" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località dell’ente beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaBeneficiario" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia del beneficiario.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneBeneficiario" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione dell’ente beneficiario
						secondo lo standard ISO 3166.</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						destinataria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Istituto Attestante -->
	<xsd:complexType name="ctIstitutoAttestante">
		<xsd:sequence>
			<xsd:element name="identificativoUnivocoAttestante" type="pay_i:ctIdentificativoUnivoco"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che riporta le informazioni
						concernenti l’identificazione fiscale dell’Istituto attestante il
						pagamento.
					</xsd:documentation>
					<xsd:documentation>tipo_identificativo_univoco - deve assumere il
						valore ‘G’, Persona Giuridica.</xsd:documentation>
					<xsd:documentation>codice_identificativo_univoco - Campo
						alfanumerico che può contenere il codice fiscale o, in
						alternativa, la partita IVA dell’Istituto
						attestante il pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denominazioneAttestante" type="pay_i:stText70"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’Istituto
						finanziario che emette il documento di attestazione dell’avvenuto
						versamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceUnitOperAttestante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice dell’unità operativa che
						rilascia la quietanza.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denomUnitOperAttestante" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contiene la denominazione dell’unità operativa
						attestante.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoAttestante" type="pay_i:stText70"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l’indirizzo dell’attestante.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoAttestante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il numero civico dell'attestante.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capAttestante" type="pay_i:stText16"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il CAP dell’attestante.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaAttestante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località dell’attestante.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaAttestante" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia dell’attestante.
					</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneAttestante" type="pay_i:stNazione"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il codice nazione dell’attestante secondo
						lo standard ISO 3166.</xsd:documentation>
					<xsd:documentation>Può coincidere con quello dell’unità operativa
						che rilascia la ricevuta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- **** END: Soggetti -->

	<!-- Dati singolo versamento della Richiesta Pagamento (RP) -->
	<xsd:complexType name="ctDatiSingoloVersamentoRP">
		<xsd:sequence>
			<xsd:element name="importoSingoloVersamento" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma da
						versare. Deve essere diverso da “0.00”.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="commissioneCaricoPA" type="pay_i:stImporto"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma da
						versare. Il data è riportato a solo titolo
						indicativo e non comporta attività a carico del PSP. Se presente
						deve essere diverso da “0.00”.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ibanAccredito" type="pay_i:stIBANIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifica l’International Bank Account Number,
						definito secondo lo standard ISO 13616, del conto da accreditare
						presso la Banca di
						accredito indicata dall’ente creditore, di norma
						la Banca Tesoriera.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bicAccredito" type="pay_i:stBICIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Identifier Code definito secondo lo
						standard ISO 9362.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ibanAppoggio" type="pay_i:stIBANIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifica l’International Bank Account Number,,
						definito secondo lo standard ISO 13616, del conto da accreditare
						presso un PSP che
						provvederà a trasferire, nei tempi previsti dal
						DM, i fondi incassati sul conto indicato nell’elemento
						ibanAccredito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bicAppoggio" type="pay_i:stBICIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Identifier Code definito secondo lo
						standard ISO 9362 dell’elemento ibanAppoggio</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="credenzialiPagatore" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Eventuali credenziali richieste dal Prestatore
						di servizi di Pagamento necessarie per completare l’operazione (ad
						esempio: un codice
						bilaterale utilizzabile una sola volta).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="causaleVersamento" type="pay_i:stText1024"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Rappresenta la descrizione estesa della causale
						del versamento. Può assumere i seguenti valori:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSpecificiRiscossione" type="pay_i:stDatiSpecificiRiscossione"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Rappresenta l’indicazione dell’imputazione della
						specifica entrata ed è così articolato:</xsd:documentation>
					<xsd:documentation>"tipo contabilità"/"codice contabilità", dove
						"tipo contabilità" può assumere i seguenti valori :
					</xsd:documentation>
					<xsd:documentation>0 Capitolo e articolo di Entrata del Bilancio
						dello stato </xsd:documentation>
					<xsd:documentation>1 Numero della contabilità speciale
					</xsd:documentation>
					<xsd:documentation>2 Codice SIOPE</xsd:documentation>
					<xsd:documentation>9 Altro codice ad uso dell’amministrazione
					</xsd:documentation>
					<xsd:documentation>Esempio: 0/3321.00 per indicare il Contributo
						Unificato delle spese di giustizia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiMarcaBolloDigitale" type="pay_i:ctDatiMarcaBolloDigitale" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aggregazione che contiene le informazioni necessarie al PSP per generare la marca da bollo digitale.</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Dati versamento della Richiesta Pagamento (RP) -->
	<xsd:complexType name="ctDatiVersamentoRP">
		<xsd:sequence>
			<xsd:element name="dataEsecuzionePagamento" type="pay_i:stISODate"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data in cui si richiede che venga
						effettuato il pagamento secondo il formato ISO 8601
						[YYYY]-[MM]-[DD].</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="importoTotaleDaVersare" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						totale della somma da
						versare.
					</xsd:documentation>
					<xsd:documentation>Deve essere diverso da “0.00”.
					</xsd:documentation>
					<xsd:documentation>Deve uguale alla somma delle varie occorrenze
						(da 1 a 5) del dato importoSingoloVersamento presente nella
						struttura
						DatiSingoloVersamento
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tipoVersamento" type="pay_i:stTipoVersamento"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Forma tecnica di versamento delle somme dovute
						presso la Tesoreria Statale. Può assumere i seguenti valori:
					</xsd:documentation>
					<xsd:documentation>- BBT - Bonifico Bancario di Tesoreria.
					</xsd:documentation>
					<xsd:documentation>- BP - Bonifico Postale.</xsd:documentation>
					<xsd:documentation>- AD - Addebito diretto.</xsd:documentation>
					<xsd:documentation>- CP - Carta di Pagamento.</xsd:documentation>
					<xsd:documentation>- PO - Pagamento attivato presso PSP.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoVersamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riferimento univoco assegnato al versamento
						dall’ente beneficiario, utilizzato ai fini specifici della
						rendicontazione e riconciliazione
						eseguita sui conti di tesoreria.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codiceContestoPagamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Codice univoco necessario a definire il contesto
						nel quale viene effettuato il versamento.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ibanAddebito" type="pay_i:stIBANIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifica l’International Bank Account Number
						del conto da addebitare riferito al soggetto pagatore, definito
						secondo lo standard ISO
						13616.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bicAddebito" type="pay_i:stBICIdentifier"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Identifier Code della banca ordinante,
						definito secondo lo standard ISO 9362.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSingoloVersamento" type="pay_i:ctDatiSingoloVersamentoRP"
				minOccurs="1" maxOccurs="5">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dati dei singoli versamenti”, da
						un minimo di uno ad un massimo di 5 occorrenze di versamento,
						facenti capo ad un unico
						identificativoUnivocoVersamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Dati singoli pagamenti dell'Esito -->
	<xsd:complexType name="ctDatiSingoloPagamentoEsito">
		<xsd:sequence>
			<xsd:element name="singoloImportoPagato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma
						versata.
					</xsd:documentation>
					<xsd:documentation>Se il singolo versamento non è stato effettuato
						l’importo deve essere impostato a 0.00.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="esitoSingoloPagamento" type="pay_i:stText35"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contiene la descrizione in formato testo
						dell’esito del singolo pagamento.</xsd:documentation>
					<xsd:documentation>Obbligatorio nel caso che l’elemento
						singoloImportoVersato sia 0.00.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataEsitoSingoloPagamento" type="pay_i:stISODate"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data di esecuzione o di rifiuto del
						pagamento, nel formato iso 8601 [YYYY]-[MM]-[DD].
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoRiscossione"
				type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riferimento univoco dell’operazione assegnato al
						versamento dal Prestatore dei servizi di Pagamento. Può coincidere
						con il CRO nel caso
						di Bonifico Bancario o con il CODELINE nel caso
						di bollettino postale.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="causaleVersamento" type="pay_i:stText140"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del PSP, così come presente nella Richiesta di Pagamento (RP) cui
						si riferisce il
						messaggio di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSpecificiRiscossione" type="pay_i:stDatiSpecificiRiscossione"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato, se presente, deve essere riportato
						invariato, a cura del Psp, così come presente nella Richiesta di
						Pagamento (RP) cui si
						riferisce il messaggio di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="commissioniApplicatePSP" type="pay_i:stImporto"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						della commissione applicata dal PSP al proprio cliente (soggetto
						versante o soggetto pagatore).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="allegatoRicevuta" type="pay_i:ctAllegatoRicevuta"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aggregazione contenente l'allegato al singolo
						pagamento.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Dati versamento dell'Esito -->
	<xsd:complexType name="ctDatiVersamentoEsito">
		<xsd:sequence>
			<xsd:element name="codiceEsitoPagamento" type="pay_i:stCodiceEsitoPagamento"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico indicante l’esito del pagamento.
					</xsd:documentation>
					<xsd:documentation>Può assumere i seguenti valori:
					</xsd:documentation>
					<xsd:documentation>0 - Pagamento eseguito</xsd:documentation>
					<xsd:documentation>1 - Pagamento non eseguito</xsd:documentation>
					<xsd:documentation>2 - Pagamento parzialmente eseguito
					</xsd:documentation>
					<xsd:documentation>3 - Decorrenza termini</xsd:documentation>
					<xsd:documentation>4 - Decorrenza termini parziale
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="importoTotalePagato" type="pay_i:stImporto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo numerico (due cifre per la parte decimale,
						il separatore dei centesimi è il punto “.”), indicante l’importo
						relativo alla somma
						versata.
					</xsd:documentation>
					<xsd:documentation>Deve essere uguale alla somma delle varie
						occorrenze (da 1 a 5) dell’informazione singoloImportoVersato
						presente nella struttura
						DatiSingoloPagamento.
					</xsd:documentation>
					<xsd:documentation>Se il versamento non è stato effettuato
						l’importo deve essere impostato a 0.00</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoUnivocoVersamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento
						(RP) cui si riferisce il messaggio di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CodiceContestoPagamento" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Il dato deve essere riportato invariato, a cura
						del prestatore di servizi di pagamento, così come presente nella
						Richiesta di Pagamento
						(RP) cui si riferisce il messaggio di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiSingoloPagamento" type="pay_i:ctDatiSingoloPagamentoEsito"
				minOccurs="0" maxOccurs="5">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dati dei singoli versamenti”, da
						un minimo di uno ad un massimo di 5 occorrenze di versamento,
						facenti capo ad un unico
						identificativoUnivocoVersamento.
					</xsd:documentation>
					<xsd:documentation>Obbligatorio nel caso che l’elemento
						codiceEsitoPagamento sia 0 o 2 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Richiesta Pagamento Telematico (RP) -->
	<xsd:complexType name="ctRichiestaPagamento">
		<xsd:sequence>
			<xsd:element name="versioneOggetto" type="pay_i:stText16"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Versione che identifica l’oggetto scambiato.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dominio" type="pay_i:ctDominio"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dominio” che riporta le
						informazioni che consentono di individuare univocamente l’ambito
						di applicazione della richiesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoMessaggioRichiesta"
				type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificativo legato alla trasmissione della
						richiesta di pagamento.</xsd:documentation>
					<xsd:documentation>Deve essere univoco nell’ambito della stessa
						data definita da Data_Ora_ messaggio_richiesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOraMessaggioRichiesta" type="pay_i:stISODateTime"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data e l’ora di generazione del
						messaggio di richiesta di pagamento secondo il formato ISO 8601
					</xsd:documentation>
					<xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="autenticazioneSoggetto" type="pay_i:stAutenticazioneSoggetto"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contiene la modalità di identificazione
						applicata al soggetto che deve essere addebitato per il pagamento
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoVersante" type="pay_i:ctSoggettoVersante"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “versante” che riporta le
						informazioni concernenti il soggetto che effettua il pagamento per
						conto del soggetto Pagatore.
					</xsd:documentation>
					<xsd:documentation>Se coincide con il soggetto Pagatore deve essere
						omesso.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoPagatore" type="pay_i:ctSoggettoPagatore"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “soggetto pagatore” che riporta le
						informazioni concernenti il soggetto che effettua il pagamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiVersamento" type="pay_i:ctDatiVersamentoRP"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione “dati del versamento”.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rpEnteSecondario" type="pay_i:ctRichiestaPagamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Eventuale RP ente secondario.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiEnteSecondario" type="xsd:base64Binary" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Eventuale dati ente secondario (Ente fesp base64 encoded).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Richiesta Pagamento (RP) per Enti secondari relativamente alla gestione multibeneficiario -->
	<xsd:complexType name="ctEntiSecondariRichiestaPagamento">
		<xsd:sequence>
			<xsd:element name="codiceFiscaleBeneficiario" type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica il codice fiscale dell'Ente
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="denominazioneBeneficiario" type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la denominazione dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ibanAccreditoBeneficiario" type="pay_i:stText35" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica IBAN dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indirizzoBeneficiario" type="pay_i:stText70" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica l'indirizzo dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="civicoBeneficiario" type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il civico dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="capBeneficiario" type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica il cap dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="localitaBeneficiario" type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la località dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="provinciaBeneficiario" type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la provincia dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nazioneBeneficiario" type="pay_i:stText35" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indica la nazione dell'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="importoSingoloVersamento" type="pay_i:stImporto" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica importo da pagare per l'Ente beneficiario:
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Esito -->
	<xsd:complexType name="ctEsito">
		<xsd:sequence>
			<xsd:element name="versioneOggetto" type="pay_i:stText16"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta la stessa informazione presente nel dato
						“versioneOggetto” della Richiesta di Pagamento (RP).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dominio" type="pay_i:ctDominio"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Dominio” della Richiesta di Pagamento (RP)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoMessaggioRicevuta" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificativo legato alla trasmissione della
						quietanza telematica.</xsd:documentation>
					<xsd:documentation>Deve essere univoco nell’ambito della stessa
						data riferita all’elemento dataMessaggioRicevuta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dataOraMessaggioRicevuta" type="pay_i:stISODateTime"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data del messaggio di quietanza,
						secondo il formato ISO 8601</xsd:documentation>
					<xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="riferimentoMessaggioRichiesta" type="pay_i:stText35"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Con riferimento al messaggio di Esito l’elemento
						contiene il dato identificativoMessaggioRichiesta legato alla
						trasmissione della
						Richiesta di Pagamento (RP).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="riferimentoDataRichiesta" type="pay_i:stISODate"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indica la data secondo il formato ISO 8601
						[YYYY]-[MM]-[DD] cui si riferisce la generazione del dato
						riferimentoMessaggioRichiesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="istitutoAttestante" type="pay_i:ctIstitutoAttestante"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Aggregazione relativa al soggetto Prestatore dei
						servizi di Pagamento che emette il documento di attestazione
						dell’avvenuto versamento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="enteBeneficiario" type="pay_i:ctEnteBeneficiario"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Ente Beneficiario” della Richiesta di Pagamento (RP) cui
						si riferisce il messaggio
						di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoVersante" type="pay_i:ctSoggettoVersante"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Versante” della Richiesta di Pagamento (RP) cui
						si riferisce il messaggio
						di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soggettoPagatore" type="pay_i:ctSoggettoPagatore"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Riporta le stesse informazioni presenti nel
						blocco “Soggetto Pagatore” della Richiesta di Pagamento (RP) cui
						si riferisce il messaggio
						di Esito.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datiPagamento" type="pay_i:ctDatiVersamentoEsito"
				minOccurs="1">
				<xsd:annotation xml:base="pay_i:stImporto">
					<xsd:documentation>Aggregazione “dati del versamento”
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferPAReceipt">
		<xsd:sequence>
			<xsd:element name="idTransfer" type="xsd:int"/>
			<xsd:element name="transferAmount" type="pay_i:stImporto"/>
			<xsd:element name="fiscalCodePA" type="xsd:string"/>
			<xsd:element name="companyName" type="pay_i:stText140" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="IBAN" type="pay_i:stIBAN" />
				<xsd:element name="MBDAttachment" type="xsd:base64Binary" />
			</xsd:choice>
			<xsd:element name="remittanceInformation" type="pay_i:stText140"/>
			<xsd:element name="transferCategory" type="pay_i:stText140"/>
			<xsd:element name="metadata" type="pay_i:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferPA">
		<xsd:sequence>
			<xsd:element name="idTransfer" type="xsd:int"/>
			<xsd:element name="transferAmount" type="pay_i:stImporto"/>
			<xsd:element name="fiscalCodePA" type="xsd:string"/>
			<xsd:element name="richiestaMarcaDaBollo" type="pay_i:CtRichiestaMarcaDaBollo" minOccurs="0" />
			<xsd:element name="IBAN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="remittanceInformation" type="pay_i:stText140"/>
			<xsd:element name="transferCategory" type="pay_i:stText140"/>
			<xsd:element name="metadata" type="pay_i:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctReceipt">
		<xsd:sequence>
			<xsd:element name="receiptId" type="xsd:string" />
			<xsd:element name="noticeNumber" type="pay_i:stNoticeNumber" />
			<xsd:element name="fiscalCode" type="pay_i:stFiscalCodePA" />
			<xsd:element name="outcome" type="pay_i:stOutcome" />
			<xsd:element name="creditorReferenceId" type="pay_i:stText35" />
			<xsd:element name="paymentAmount" type="pay_i:stAmount" />
			<xsd:element name="description" type="pay_i:stText140" />

			<xsd:element name="companyName" type="pay_i:stText140" />
			<xsd:element name="officeName" type="pay_i:stText140" minOccurs="0" />

			<xsd:element name="debtor" type="pay_i:ctSubject" />
			<xsd:element name="transferList" type="pay_i:ctTransferListPAReceipt" />
			<xsd:element name="idPSP" type="pay_i:stText35" />
			<xsd:element name="pspFiscalCode" type="pay_i:stText70" minOccurs="0" />
			<xsd:element name="pspPartitaIVA" type="pay_i:stText20" minOccurs="0" />
			<xsd:element name="PSPCompanyName" type="pay_i:stText70" />
			<xsd:element name="idChannel" type="pay_i:stText35" />
			<xsd:element name="channelDescription" type="pay_i:stText35" />

			<xsd:element name="payer" type="pay_i:ctSubject" minOccurs="0" />
			<xsd:element name="paymentMethod" type="pay_i:stText35" minOccurs="0" />
			<xsd:element name="paymentNote" type="pay_i:stText210" minOccurs="0" />

			<xsd:element name="fee" type="pay_i:stAmount" minOccurs="0" />
			<xsd:element name="primaryCiIncurredFee" type="pay_i:stAmount" minOccurs="0" />
			<xsd:element name="idBundle" type="pay_i:stText70" minOccurs="0" />
			<xsd:element name="idCiBundle" type="pay_i:stText70" minOccurs="0" />
			<xsd:element name="paymentDateTime" type="pay_i:stISODateTime" minOccurs="0" />
			<xsd:element name="applicationDate" type="pay_i:stISODate" minOccurs="0" />
			<xsd:element name="transferDate" type="pay_i:stISODate" minOccurs="0" />
			<xsd:element name="metadata" type="pay_i:ctMetadata" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctSubject">
		<xsd:sequence>
			<xsd:element name="uniqueIdentifier" type="pay_i:ctEntityUniqueIdentifier" />
			<xsd:element name="fullName" type="pay_i:stText70" />
			<xsd:element name="streetName" type="pay_i:stText70" minOccurs="0" />
			<xsd:element name="civicNumber" type="pay_i:stText16" minOccurs="0" />
			<xsd:element name="postalCode" type="pay_i:stText16" minOccurs="0" />
			<xsd:element name="city" type="pay_i:stText35" minOccurs="0" />
			<xsd:element name="stateProvinceRegion" type="pay_i:stText35" minOccurs="0" />
			<xsd:element name="country" type="pay_i:stNazioneProvincia" minOccurs="0" />
			<xsd:element name="e-mail" type="pay_i:stEMail" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferListPAReceipt">
		<xsd:sequence>
			<xsd:element name="transfer" type="pay_i:ctTransferPAReceipt" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctTransferListPA">
		<xsd:sequence>
			<xsd:element name="transfer" type="pay_i:ctTransferPA" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctMapEntry">
		<xsd:sequence>
			<xsd:element name="key" type="pay_i:stText140" />
			<xsd:element name="value" type="pay_i:stText140" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctMetadata">
		<xsd:sequence>
			<xsd:element name="mapEntry" type="pay_i:ctMapEntry" minOccurs="1" maxOccurs="10"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ctEntityUniqueIdentifier">
		<xsd:sequence>
			<xsd:element name="entityUniqueIdentifierType" type="pay_i:stEntityUniqueIdentifierType" />
			<xsd:element name="entityUniqueIdentifierValue" type="pay_i:stEntityUniqueIdentifierValue" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CtRichiestaMarcaDaBollo">
		<xsd:sequence>
			<xsd:element name="hashDocumento" type="pay_i:stBase64Binary72" />
			<xsd:element name="tipoBollo" type="pay_i:stTipoBolloDigitale" />
			<xsd:element name="provinciaResidenza" type="pay_i:stNazioneProvincia" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- **** END: tipi complessi **** -->


	<!-- **** BEGIN: elementi **** -->
	<xsd:element name="RP" type="pay_i:ctRichiestaPagamento">
		<xsd:annotation>
			<xsd:documentation>Richiesta Pagamento (RP)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="entiSecondariRP" type="pay_i:ctEntiSecondariRichiestaPagamento">
		<xsd:annotation>
			<xsd:documentation>Richiesta Pagamento (RP) per Enti secondari relativamente alla gestione multibeneficiario</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="Esito" type="pay_i:ctEsito">
		<xsd:annotation>
			<xsd:documentation>Esito</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- **** END: elementi **** -->
</xsd:schema>
